<div>
  <h2>Course Plans</h2>
  <div>
    <ul class="list-group">
      <li *ngFor="let coursePlan of coursePlans" class="list-group-item">
        {{ coursePlan.title }}
        <button (click)="onSelect(coursePlan)" class="btn btn-success">
          Edit
        </button>
        <button (click)="onDelete(coursePlan)" class="btn btn-danger">
          Delete
        </button>
      </li>
    </ul>
  </div>

  <button (click)="onCreate()" class="btn btn-success">New</button>
  <button (click)="signOut()" class="btn btn-danger">Sign Out</button>
</div>
