<div>
  <h1>Course Plans</h1>
  <div class="new-btn">
    <a routerLink="/course-plan/-1" class="btn btn-success">New Course Plan</a>
  </div>
  <div>
    <ul class="list-group">
      <li *ngFor="let coursePlan of coursePlans" class="list-group-item">
        <p class="plan-title">
          {{ coursePlan.title }}
        </p>
        <div class="btn-group">
          <a
            routerLink="/course-plan/{{ coursePlan.id }}"
            class="btn btn-success"
          >
            Edit
          </a>
          <button (click)="onDelete(coursePlan)" class="btn btn-danger">
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
