<div>
  <div *ngIf="user">
    <h2>Course Plans</h2>
    <div>
      <ul class="list-group">
        <li
          (click)="onSelect(coursePlan)" *ngFor="let coursePlan of coursePlans"
          class="list-group-item">
          <a>
            {{ coursePlan.title }}
            <!--<button (click)="viewCoursePlan(coursePlan.title)" class="btn btn-success">{{ coursePlan.name }}</button>-->
          </a>
        </li>
      </ul>
    </div>

    <br/>

    <button (click)="createNewCoursePlan()" class="btn btn-success">
      New Course Plan
    </button>

    <button (click)="signOut()" class="btn btn-danger">Sign Out</button>
  </div>
</div>
