<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
      <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
      />
    </button>
  </div>
  <div class="navigation-items">
    <a routerLink="/home">Home</a>
    <a routerLink="/user-details">Profile</a>
    <a target="_blank" href="https://liu.se/studieinfo/en">Curriculum</a>
  </div>
  <div class="course-planner">
    <a>Course Planner</a>
    <button class="btn btn-danger">Sign Out</button>
  </div>
</mat-toolbar>
<!--
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxlayout fxlayoutGap="15px" class="navigation-items">
      <li><a routerLink="/home">Home</a></li>
      <li>
        <a routerLink="/user-details">Profile</a>
      </li>
      <li>
        <a target="_blank" href="https://liu.se/studieinfo/en">Curriculum</a>
      </li>
    </ul>
  </div>
  -->
