.course-planner {
  position: absolute;
  right: 30px;
}
a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}

mat-toolbar {
  border-radius: 3px;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
