<form (ngSubmit)="onCreate()" [formGroup]="coursePlanForm">
  <label>
    Name:
    <input formControlName="name" required type="text">
  </label>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Courses:</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="courses"
        cdkDropList
        cdkDropListSortingDisabled
        class="example-list">
        <div *ngFor="let course of courses" cdkDrag class="example-box">
          {{ course.code }}
          {{ course.name }}
          {{ course.credits }}
          {{ course.semester }}
          {{ course.level }}
          {{ course.module }}
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2>Selected Courses:</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="selected"
        cdkDropList
        class="example-list"
        formControlName="courses">
        <div *ngFor="let course of selected" cdkDrag class="example-box">
          {{ course.code }}
          {{ course.name }}
          {{ course.credits }}
          {{ course.semester }}
          {{ course.level }}
          {{ course.module }}
        </div>
      </div>
    </div>
  </div>

  <button [disabled]="!coursePlanForm.valid" class="btn btn-success" type="submit">Save course plan</button>
</form>

<button class="btn btn-danger">Delete course plan</button>

