<form [formGroup]="coursePlanForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      class="form-control"
      id="title"
      name="title"
      formControlName="title"
      type="text"
    />
  </div>
  <div *ngIf="title.invalid || title.touched">
    <div *ngIf="title.hasError('required')" class="alert alert-danger">
      Name is required.
    </div>
    <div *ngIf="title.hasError('minlength')" class="alert alert-danger">
      Name must be at least 3 characters long.
    </div>
  </div>
  <h4 class="table-header">Coures Selection Statistics</h4>
  <table class="statistics-table">
    <tr>
      <th>Credits</th>
      <th>Advanced Credits</th>
      <th>Basic Credits</th>
    </tr>
    <tr>
      <td>{{ totalCredits }}</td>
      <td>{{ advancedCredits }}</td>
      <td>{{ basicCredits }}</td>
    </tr>
  </table>
  <div cdkDropListGroup class="row">
    <div class="example-container col">
      <h2>Courses:</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="courses"
        cdkDropList
        cdkDropListSortingDisabled
        class="example-list"
      >
        <div *ngFor="let course of courses" cdkDrag class="example-box">
          {{ course.code }}
          {{ course.name }}
          {{ course.credits }}
          {{ course.semester }}
          {{ course.level }}
          {{ course.module }}
        </div>
      </div>
    </div>
    <div class="example-container col">
      <h2>Selected Courses:</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="selectedCourses"
        cdkDropList
        class="example-list"
      >
        <div *ngFor="let course of selectedCourses" cdkDrag class="example-box">
          {{ course.code }}
          {{ course.name }}
          {{ course.credits }}
          {{ course.semester }}
          {{ course.level }}
          {{ course.module }}
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group">
    <button
      [disabled]="!coursePlanForm.valid"
      class="btn btn-success"
      (click)="onSave()"
      type="submit"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</form>
